<?xml version='1.0' encoding='utf-8'?>
<widget id="com.gs.calc" version="1.0.0" versionCode="1" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Safe Ride</name>
    <description>
      Phone Call.
  </description>
    <author email="allypanchoo@yahoo.com" href="https://build.phonegap.com">
      Ally Abbas Sheik Panchoo.
  </author>

   <plugin name="cordova-plugin-call-number" spec="https://github.com/ihadeed/cordova-plugin-call-number" source="git" />
     <allow-navigation href="https://unpkg.com/esri-leaflet@2.2.4/dist/esri-leaflet.js"/>
   
   
   <allow-navigation href="https://unpkg.com/esri-leaflet-geocoder@2.2.13/dist/esri-leaflet-geocoder.css"/>
   
    <allow-navigation href="https://unpkg.com/esri-leaflet-geocoder@2.2.13/dist/esri-leaflet-geocoder.js"/>
  <plugin name="cordova-plugin-geolocation" spec="2.4.3" />
<feature name="Geolocation">

 <param name="android-package" value="org.apache.cordova.GeoBroker" />
 </feature>
<allow-intent href="http://*/*" />
<allow-navigation href="*" />

<allow-navigation href="*" />

<allow-intent href="http://*/*" />


<allow-intent href="https://*/*" />


<!-- Allow SMS links to open messaging app -->
<allow-intent href="sms:*" />

<!-- Allow tel: links to open the dialer -->
<allow-intent href="tel:*" />

<!-- Allow geo: links to open maps -->
<allow-intent href="geo:*" />

<allow-navigation href="https://example.com/" />


<allow-navigation href="data:*" />



   
<preference name="cordova.plugins.diagnostic.modules" value="LOCATION" />

<plugin name="cordova-plugin-android-permissions" spec="0.11.0"/>

<plugin name="cordova-plugin-whitelist" source="npm" />

<plugin name="cordova-plugin-geolocation" source="npm" spec="~2.1.0"/>

<plugin name="cordova-plugin-call-number" spec="1.0.1" source="npm"/>

<plugin name="cordova-plugin-network-information" source="npm" spec="~1.2.0"/>






<!-- Don't block any requests -->
<access origin="*" />

<access origin="content:///*" />
	
</widget>


